<%= render 'form' %>
<table border="0" cellspacing="5" cellpadding="5">
	<tr><td><%= link_to "Delete account?", @user, :confirm => "Are you sure?", :method => "delete" %></td></tr>
	<tr><td><a href="http://gravatar.com">Edit profile pic</a></td></tr>
</table>