<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>


<img src="/assets/bg-index.jpg" alt="" id="background" />
<script type="text/javascript">
$(window).load(function() {
	$("#background").fullBg();
});
</script>
<div id="maincontent">
    <div id="box">
        <h1>Fitulous</h1>
        <h2>Document and graph your workouts</h2>
        <p>We are in private beta right now. But we are letting users join slowly.</p>
        <div class="control-group">
            <div class="controls">
              <div class="input-append" style="text-align:center;">
                <input class="span3" id="appendedInputButton" type="text" placeholder="email@example.com"><button class="btn" type="button">Let me in!</button>
              </div>
            </div>
          </div>
    </div>
</div>

