<img src="/assets/bg-index.jpg" alt="" id="background" />
<script type="text/javascript">
$(window).load(function() {
	$("#background").fullBg();
});
</script>
<div id="maincontent">
    <div id="box">
        <h1>Fitulous</h1>
        <h2>Document and graph your workouts</h2>
        <div class="control-group">
            <div class="controls">
              <br>
              <div class="input-append" style="text-align:center;">
                <input class="span3" id="appendedInputButton" type="text" placeholder="email@example.com"><button class="btn" type="button">Let me in!</button>
                <p>We are in private beta right now. We're letting users in slowly.</p>
              </div>
            </div>
          </div>
    </div>
</div>

